.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  height: 30vh;

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-icon {
    width: 3.2rem;
    height: 3.2rem;
    color: #cf711f;
    cursor: pointer;
  }
}
